{{ $person := . }}
{{ $extranote := "" }}
{{ if reflect.IsMap . }}
  {{ with index . "page" }}
    {{ $person = . }}
  {{ end }}
  {{ with index . "extranote" }}
    {{ $extranote = . }}
  {{ end }}
{{ end }}
<div class="person-summary" data-search-name="{{ $person.Title }} {{ with $person.Params.known_as }}{{ . }}{{ end }}">
  {{ $imgsrc := "images/people/portrait.svg" | relURL }}
  {{ with $person.Params.portrait }}
    {{ $imgsrc = . | relURL }}
  {{ end }}
  
  <figure class="person-thumb">
    <img src="{{ $imgsrc }}" alt="{{ $person.Title }} portrait" loading="lazy">
  </figure>

  <a href="{{ $person.RelPermalink }}">{{ $person.Title }}</a><br/>
  {{ $birthyear := "????" }}
  {{ with $person.Params.birth.date }}
    {{ $birth := printf "%v" . }}
    {{ if ge (len $birth) 4 }}
      {{ $birthyear = slicestr $birth 0 4 }}
    {{ else }}
      {{ $birthyear = $birth }}
    {{ end }}
  {{ end }}
  {{ $deathyear := "????" }}
  {{ if $person.Params.living }}
    {{ $deathyear = "present" }}
  {{ else }}
    {{ with $person.Params.death.date }}
      {{ $death := printf "%v" . }}
      {{ if ge (len $death) 4 }}
        {{ $deathyear = slicestr $death 0 4 }}
      {{ else }}
        {{ $deathyear = $death }}
      {{ end }}
    {{ end }}
  {{ end }}
  <span class="extrainfo">( {{ $birthyear }} - {{ $deathyear }} )</span>
  {{ with $extranote }}
    <br/><span class="extrainfo">{{ . }}</span>
  {{ end }}
</div>
