<div class="person-summary">
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ $birthyear := "????" }}
  {{ with .Params.birth.date }}
    {{ $birth := printf "%v" . }}
    {{ if ge (len $birth) 4 }}
      {{ $birthyear = slicestr $birth 0 4 }}
    {{ else }}
      {{ $birthyear = $birth }}
    {{ end }}
  {{ end }}
  {{ $deathyear := "????" }}
  {{ if .Params.living }}
    {{ $deathyear = "present" }}
  {{ else }}
    {{ with .Params.death.date }}
      {{ $death := printf "%v" . }}
      {{ if ge (len $death) 4 }}
        {{ $deathyear = slicestr $death 0 4 }}
      {{ else }}
        {{ $deathyear = $death }}
      {{ end }}
    {{ end }}
  {{ end }}
  <span>( {{ $birthyear }} - {{ $deathyear }} )</span>
</div>
